<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fifteen_puzzle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E6C475F1E51011C00C37632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6C47731E51011D00C37632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6C477E1E51011D00C37632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
